$LightRed: #d89495;
$Red: #dc3832;
$DarkRed: #902323;

$LightYellow: #fffda2;
$Yellow: #ffde42;
$DarkYellow: #b0813c;

$LightOrange: #f9c18f;
$Orange: #f7a74f;
$DarkOrange: #af6a0d;

$LightBlue: #8ea6ef;
$Blue: #5a7cff;
$DarkBlue: #294b8a;

$LightGreen: #bff69a;
$Green: #5b5e4d;
$DarkGreen: #487e28;

$Grey: #eeeef0;
$LightBlack: #5c5c5c;
$Black: #1e1e1e;
$White: #ffffff;
